In [48]:
from datetime import datetime , timedelta
from tqdm import tqdm
import pandas as pd

In [49]:


#Modify desired interval (seconds,minutes,hours)
interval = timedelta(seconds=1)
TimeStart = datetime(1900, 1, 1, 0, 0, 0)
TimeFinal = datetime(1900, 1, 2, 0, 0, 0)

Rng = tqdm(range(int((TimeFinal - TimeStart).total_seconds() / interval.total_seconds())),desc=f'Generating Dim Time data betweem {TimeStart} and {TimeFinal} with interval {interval}')
records = []

Generating Dim Time data betweem 1900-01-01 00:00:00 and 1900-01-02 00:00:00 with interval 0:00:01:   0%|          | 0/86400 [01:36<?, ?it/s]

In [50]:
for iteration in Rng:
    record = {
        #TimeVal = time 'HH:mm:ss'
        'TimeVal': (TimeStart + (iteration * interval)).strftime('%H:%M:%S'),
        #TimeKey = time 'HHmmss'
        'TimeKey': int((TimeStart + (iteration * interval)).strftime('%H%M%S')),
        #HourInt
        'HourInt': int((TimeStart + (iteration * interval)).strftime('%H')),
        #MinuteInt
        'MinuteInt': int((TimeStart + (iteration * interval)).strftime('%M')),
        #SecondInt
        'SecondInt': int((TimeStart + (iteration * interval)).strftime('%S')),
    }
    records.append(record)

Generating Dim Time data betweem 1900-01-01 00:00:00 and 1900-01-02 00:00:00 with interval 0:00:01: 100%|██████████| 86400/86400 [00:01<00:00, 56698.60it/s]

In [51]:
df = pd.DataFrame(records)
display(df)

        TimeVal  TimeKey  HourInt  MinuteInt  SecondInt
0      00:00:00        0        0          0          0
1      00:00:01        1        0          0          1
2      00:00:02        2        0          0          2
3      00:00:03        3        0          0          3
4      00:00:04        4        0          0          4
...         ...      ...      ...        ...        ...
86395  23:59:55   235955       23         59         55
86396  23:59:56   235956       23         59         56
86397  23:59:57   235957       23         59         57
86398  23:59:58   235958       23         59         58
86399  23:59:59   235959       23         59         59

[86400 rows x 5 columns]